html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

/* Make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

header {
    background: url('../images/tesla-background.jpg') no-repeat fixed center;
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
}

nav {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

nav a {
    color: #fff;
    padding: 10px;
}

nav a:hover {
    color: #ff8601;
    transition: all ease 1s;
}

.start-section-box {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.start-section-box div {
    width: 46%;
}

.start-section-box div:first-child {
    align-self: center;
}

.start-section-box div h3 {
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.start-section-box div p {
    width: 90%;
    color: #fff;
    line-height: 1.4;
}

.start-section-box div p.p-bold {
    font-weight: bold;
}

.start-section-box div img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.start-section-box div a {
    display: inline-block;
    margin-top: 30px;
    color: #fff;
    padding: 15px 30px;
    background-color: #ff8601;
}

.start-section-box div a:hover {
    background-color: #fff;
    color: #ff8601;
    transition: all ease 1s;
}

.form-section {
    background-color: #000139;
    padding: 100px 0;
}

.form-section-box {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.form-section-box h2 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.form-section-box hr {
    width: 80px;
    margin: 10px auto 40px;
    border-color: #505dff;
}

.form-section-box form {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-section-box form .form-colon {
    width: 47%;
}

.form-section-box form input, textarea {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    background-color: #01025e;
    color: #fff;
    border: none;
}

.form-section-box .date-box {
    position: relative;
    width: 100%;
}

.form-section-box .date-span {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 14px 12px;
    background-color: #01025e;
}

.form-section-box form input::placeholder {
    color: #fff;
}

.form-section-box .recaptcha {
    float: right;
}

.form-section-box .imei-box {
    position: relative;
    width: 100%;
}

.form-section-box .pomoc {
    display: inline-block;
    position: absolute;
    color: #505dff;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.form-section-box .tooltip {
    display: none;
    width: 150px;
    background-color: #4d4f88;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    right:  -6.8%;
    margin-left: -60px;
}

.form-section-box .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #4d4f88 transparent;
}

.form-section-box .pomoc:hover ~ .tooltip {
    display: inline-block;
}

.form-section-box button {
    display: inline-block;
    margin-top: 30px;
    color: #fff;
    padding: 12px 40px;
    background-color: #ff8601;
    border: none;
    cursor: pointer;
}

.form-section-box button:hover {
    background-color: #fff;
    color: #ff8601;
    transition: all ease 1s;
}

@media only screen and (max-width: 924px) {
    .start-section-box {
        width: 55%;
    }

    .start-section-box div {
        width: 50.5%;
        margin: 0 auto;
    }

    .start-section-box div h3 {
        font-size: 16px;
    }

    .start-section-box div:last-child {
        margin-top: 30px;
    }

    .start-section-box div a {
        padding: 10px 20px;
    }

    .form-section-box {
        width: 55%;
    }

    .form-section-box form .form-colon {
        width: 100%;
    }
}

